.App {
  text-align: center;
  background-image:url('./assets/Ben_Pokedex_Buttons.svg'),
  url('./assets/Ben_Pokedex_Background.svg');
  background-size: cover;
  height: 918px;
}

::-webkit-scrollbar {
  display: none; /* Rend la scrollbar invisible sur Chrome, Safari, etc. */
}

.App-header {
  display: flex;
}

.Liste {
  margin-top: 175px;
  margin-left: 100px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 700px;
  overflow: auto;
  border: solid rgb(29, 29, 29) 10px;
  border-radius: 2%;
  background-color: rgba(109, 109, 109, 0.541);
}

.ListeOfCard {
  padding-right: 20px;
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-play-state: paused;
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pokeball {
  animation-name: swing;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  transform-origin: bottom center;
  width: 180px;
  height: 150px;
}

.Selection {
  border: solid 1px black;
  border-radius: 10%;
  margin-top: 350px;
  margin-left: 100px;
  width: 300px;
  display: 'grid';
  grid-template-columns: '1fr'; 
  background-color: rgba(255, 255, 255, 0.3);
}

.SelectionName {
  border: solid 10px rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  max-height: 100px;
  margin-top: 75px;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.SelectionGen {
  border: solid 10px rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 25px;
  overflow-y: scroll;
  flex-wrap: wrap;
  min-width: 200px;
}

.ClassOrder {
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
  flex-wrap: wrap;
  width: 250px;
}

.ClassOrderDiv {
  margin-top: 50px;
}

.SelectionSearch {
  margin-top: 20px;
}

.ClearName {
  margin-top: 10px;
}

.ListeOfCard.selected {
  position: fixed;
  transform: translate(-100%, -50%) scale(2);
  z-index: 1000;
  cursor: pointer;
}

.ListeOfCard.selected .carte-info {
  position: absolute;
  top: 65%;
  left: 110%;
  transform: translateY(-50%);
  width: 275px; /* ajustez cette valeur en fonction de vos besoins */
  text-align: left;
  font-size: 1rem; /* ajustez cette valeur en fonction de vos besoins */
}

.carte-info p {
  margin: 0;
  padding: 5px 0;
}
